@import "~normalize.css";

@import "_variables";
@import "modules/hello.scss";

@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto+Condensed&display=swap');

$sMobile: 320px;
$mMobile: 375px;
$lMobile: 425px;
$tablet: 768px; 

html {
  display: block;
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

html {
  font-size: 10px;
  font-family: 'Oswald', sans-serif;
}

div.wrapper {
  min-width: 1024px;
  max-width: 1720px;
  min-height: 100vh;
  margin: 0 auto;
  background-color: #2D2241;
  color: #fff;
  @media (min-width: $sMobile) and (max-width: $tablet) {
    min-width: $sMobile;
  }
}

.header {
  padding: 20px 0px;
  @media (min-width: $sMobile) and (max-width: $mMobile) {
    display: block;
    height: 80px;
    width: 100%;
    top: 0;
  }
  @media (min-width: $sMobile) and (max-width: $tablet) {
    padding: 10px 0px;
  }
  &--shrink {
    @media (min-width: $sMobile) and (max-width: $mMobile) {
      height: 40px;
    }
  }
}

.hamburger {
  display: none;
  @media (min-width: $sMobile) and (max-width: $mMobile) {
    display: block;
    position: absolute;
    border: 1px solid white;
    background-color: white;
    color: black;
    top: 12px;
    right: 12px;
  }
}

.navigation {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  &__link {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 3vw;
    background-color: darkcyan;
    font-size: 0.8vw;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    border-style: none;
    border-radius: 20px;
    box-shadow: 0 0 0 2px #2D2241, 0 0 0 4px white; 
    color: white;
    padding: 5px 10px;
    transition: .2s;
    &--contact {
      background-color: #000;
    }
    &:hover {
      box-shadow: 0 0 0 4px #2D2241, 0 0 0 6px white; 
    }
    @media (min-width: $sMobile) and (max-width: $mMobile) {
      display: block;
      height: 12px;
      margin: 10px;
      padding: 5px 10px;
      text-align: center;
    }
    @media (min-width: $sMobile) and (max-width: $tablet) {
      font-size: 1vw;
    }
  }
  @media (min-width: $sMobile) and (max-width: $mMobile) {
    display: block;
    width: 70px;
    height: 60px;
    position: absolute;
    left: 20px;
    top: 2px;
  }
  &--hide {
    @media (min-width: $sMobile) and (max-width: $mMobile) {
      display: none;
    }
  }
}

.main {
  min-height: 80vh;
  &__header {
    height: 70vh;
    text-transform: uppercase;
    background-image: url(../assets/img/rice_plantation.jpg);
    background-position:  center center;
    background-attachment: fixed;
    background-size: cover;
    @media (min-width: $sMobile) and (max-width: $tablet) {
      height: 50vh;
    }
  }
  &__heading {
    margin: 0px auto;
    font-size: 4vw;
    line-height: 70vh;
    text-align: center;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.1);
    @media (min-width: $sMobile) and (max-width: $tablet) {
      line-height: 50vh;
    }
  }
}

.intro {
  max-width: 1720px;
  margin: 2.5vw auto 1vw;
  width: 60%;
  text-align: center;
  &__header {
    margin: 10px auto;
    font-size: 2.5vw;
    color: #4DA1A9;
    @media (min-width: $sMobile) and (max-width: $tablet) {
      margin: 0 auto;
      font-size: 3vw;
    }
  }
  &__paragraph {
    margin: 0 auto;
    padding: 5px 10px 10px 10px;
    font-size: 1.3vw;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    @media (min-width: $sMobile) and (max-width: $tablet) {
      padding: 5px;
      font-size: 2.5vw;
    }
  }
}

.about {
  max-width: 1720px;
  margin-bottom: 2vw;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  &__header {
    margin: 0px auto 1vw;
    text-align: center;
    font-size: 2.5vw;
    color: #4DA1A9;
    @media (min-width: $sMobile) and (max-width: $tablet) {
      font-size: 3vw;
    }
  }
  @media (min-width: $sMobile) and (max-width: $tablet) {
    margin-bottom: 4vw;
  }
}

.articles {
  margin: 0px 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-template-rows: 70vh;
  row-gap: 2.5vw;
  column-gap: 1vw;
  @media (min-width: $sMobile) and (max-width: $mMobile) {
    grid-template-rows: 20vh;
  }
  @media (min-width: $lMobile) and (max-width: $tablet) {
    grid-template-rows: 40vh;
  }
}

.article {
  height: 100%;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-content: center;
  color: black;
  background-color: bisque;
  &__header {
    margin: 10px 0;
    font-size: 1.6vw;
    text-align: center;
    color: #4DA1A9;
    @media (min-width: $sMobile) and (max-width: $lMobile) {
      margin: 5px 0;
    }
  }
  &__picture {
    display: block;
    height: 75%;
    width: 100%;
  }
  &__paragraph {
    margin: 0;
    text-align: center;
    font-size: 1vw;
  }
  @media (min-width: $sMobile) and (max-width: $lMobile) {
    width: 60%;
    padding: 5px;
  }
}

.footer {
  padding: 0.8vw;
  background-color: black;
  &__paragraph {
    margin: 0px;
    padding: 0.8vw;
    font-size: 0.8vw;
    text-align: center;
    color: white;
  }
}
